<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0" user-scalable="no">
        <title>CLIENT</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/help.css" type="text/css">

    </head>
 
    <body class="bg-primary">
        <h2 class="text-center">Client : <%=client.name%> </h2>

        <%- include utilities/statusArea.ejs%>


        <!--  CONFERENCE PART   -->


        <video id="remoteVideo" class="remoteVideo" autoplay></video>
        <video id="localVideo" class="localVideo"  autoplay></video>



        <button id='help' class="btn btn-success help">Help!</button>
        <button id="hangupButton" class="btn btn-danger hangup">Hang Up</button> 



        <script src="js/model/user.js"></script>
        <script type="text/javascript">
            var user = {nb: '<%=(user.nb)%>', pass: '<%=(user.pass)%>'};
            var client = new Client('<%=(client.email)%>',
                                    '<%=(client.id)%>',
                                    '<%=(client.name)%>',
                                    '<%=(client.firstname)%>',
                                    '<%=(client.creationDate)%>');
        </script>
        <script src="js/lib/adapter.js"></script>
        <script src="js/lib/socket.io.js"></script>
        <script src="js/webRTC.js"></script>        
        <script src="js/client.js"></script>
    </body>
</html>